#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #00a087;
  color: #e8fdff;
  padding: 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  font-size: 2em;
  line-height: 2.5em;
  float: left;
  padding-left: 10px;
}

#nav-bar .header:hover {
  cursor: default;
}

#nav-bar section.compose:hover {
  background: white;
  cursor: pointer;
}

#nav-bar section.compose {
  font-size: 1em;
  color: #00a087;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  float: right;
  border-radius: 5px;
  background: rgb(235, 252, 255);
}

#nav-bar section.compose:hover h3 {
  color: black;
}

#nav-bar section.compose h3 {
  margin: 13px 4px;
  font-weight: 300;
}