article.tweet {
  margin: 1em 2em;
  background-color: rgb(255, 255, 255);
  border: 1px solid #D0D0D0;
  border-radius: 5px;
  opacity: 0.7;
  overflow: hidden;
}

article.tweet:hover {
  opacity: 1;
  border-color: rgb(101, 101, 101)
}

article.tweet header {
  background-color: #eee;
  width: 100%;
  overflow: hidden;
}

article.tweet .profile {
  height: 60px;
  width: 60px;
  float: left;
  border-radius: 5px;
  margin: 8px;
}

article.tweet h2 {
  border: 30px 0 0 0;
  margin-top: 10px;
  float: left;
}

article span.handle {
  float: right;
  margin: 15px 8px;
  font-size: 14px;
}

article.tweet div {
  padding: 10px;
  margin: 5px;
}

article.tweet footer {
  border-top: 1px solid rgb(238, 238, 238);
  padding: 3px 5px;
  overflow: auto;
}

article.tweet .post-date {
  float: left;
  margin: 5px;
  font-size: 12px;
}

article.tweet .post-date:hover {
  cursor: default;
}

article.tweet:hover i {
  visibility: visible;
  cursor: pointer;
}

article.tweet i {
  color: rgb(121, 192, 184);
  float: right;
  height: 25px;
  width: 25px;
  padding: 5px;
  visibility: hidden;
}